<!DOCTYPE html>
<html>
<head>
    <title>Your Expenses</title>
</head>
<body>
    <h1>Your Expenses</h1>
    <table>
        <thead>
            <tr>
                <th>Cost</th>
                <th>Category</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Clip<br>Rs 300.00</td>
                <td>Hair accessory</td>
                <td>2025-03-13</td>
                <td><button>Edit</button> <button>Delete</button></td>
            </tr>
            <tr>
                <td>Shirt<br>Rs 7,000.00</td>
                <td>Clothes</td>
                <td>2025-05-23</td>
                <td><button>Edit</button> <button>Delete</button></td>
            </tr>
            <tr>
                <td>Shoes<br>Rs 236,462.00</td>
                <td>Footwear</td>
                <td>2025-05-23</td>
                <td><button>Edit</button> <button>Delete</button></td>
            </tr>
            <tr>
               <td>Shoes<br>Rs 2,364,562.00</td>
                <td>Footwear</td>
                <td>2025-05-22</td>
                <td><button>Edit</button> <button>Delete</button></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
